 h1 {
    color:coral;
 }
 h2 {
            color:green;
        }
       p {
        color: orangered;
        font-size: 20px;
        }
        #head-2 {
            color: brown;
            font-family: Arial, Helvetica, sans-serif;
        }
        .theme-font{
            color: cadetblue;
            text-align:center ;
        }